<div>
    <form>
        <label class="formLabel">
            Username
          <input type="text" name="phrase" id="phrase"></textarea>
        </label>
        <label class="formLabel">
            Password
          <input type="text" name="phrase" id="phrase"></textarea>
        </label>
        <button type="submit" id="submit">Submit</button>
    </form>
</div>